/* @override http://www.moocs.com/local.css */

body {
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}

h1 {
	font-size: 22px;
	color: #143266;
}

h1 em {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #2a64ca;
	font-style: normal;
	font-weight: normal;
}

div.stackRight {
	float: right;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	margin: 4px;
}

div.stackRight span {
	font-weight: bold;
}

#refresh {
	display: block;
	clear: both;
}

div.section {
	border: 1px solid #d3dadc;
	background-color: #f7fdfe;
	float: left;
	padding: 10px;
	clear: right;
	position: relative;
	width: 200px;
	margin: 6px;
}

div.section h1 {
	margin: 0;
	border-bottom: 1px dotted #375f8c;
}

#output div.section input {
}