/* @override http://www.moocs.com/local.css */

div.stackLeft {
	float: left;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	margin: 4px;
}

div.stackLeft span {
	font-weight: bold;
}

#refresh {
	display: block;
	clear: both;
}

div.section {
	border: 1px solid #d3dadc;
	margin-bottom: 6px;
	margin-top: 6px;
	padding-left: 10px;
	background-color: #f4fdfe;
	clear: both;
}